<div data-role="page" id="about" data-theme="b"> 
	<div data-role="header">
		<h2>Sports Picks</h2>
	</div> 
	<div data-role="content">
		<h4 class="center">Live odds are coming soon!</h4>
	</div>
</div>