<div data-role="page" id="failure" data-theme="b">  
	<div data-role="header">
		<h2>Sports Picks</h2>
	</div>
	<div data-role="content">
		<h1 class="center">Congrats!</h1>
		<h3 class="center">You're all set to <br><%= link_to "VIEW YOUR PICKS", picks_path, "data-transition" => "flip", "data-direction" => "reverse" %></h3>
	</div>
</div>